.dodo-color-white {
  color: var(--dodo-color-white) !important;
}
.dodo-color-gray {
  color: var(--dodo-color-gray) !important;
}
.dodo-color-black {
  color: var(--dodo-color-black) !important;
}
.dodo-color-red {
  color: var(--dodo-color-red) !important;
}
.dodo-color-orange {
  color: var(--dodo-color-orange) !important;
}
.dodo-color-yellow {
  color: var(--dodo-color-yellow) !important;
}
.dodo-color-green {
  color: var(--dodo-color-green) !important;
}
.dodo-color-teal {
  color: var(--dodo-color-teal) !important;
}
.dodo-color-blue {
  color: var(--dodo-color-blue) !important;
}
.dodo-color-purple {
  color: var(--dodo-color-purple) !important;
}
.dodo-color-pink {
  color: var(--dodo-color-pink) !important;
}
.dodo-color-info {
  color: var(--dodo-color-info) !important;
}
.dodo-color-success {
  color: var(--dodo-color-success) !important;
}
.dodo-color-warning {
  color: var(--dodo-color-warning) !important;
}
.dodo-color-danger {
  color: var(--dodo-color-danger) !important;
}
.dodo-color-background {
  color: var(--dodo-color-background) !important;
}
.dodo-color-text {
  color: var(--dodo-color-text) !important;
}
.dodo-color-primary {
  color: var(--dodo-color-primary) !important;
}
.dodo-color-secondary {
  color: var(--dodo-color-secondary) !important;
}
