:root {
  --dodo-color-white: #ffffff;
  --dodo-color-gray: #908896;
  --dodo-color-black: #091e28;
  --dodo-color-red: #f1003c;
  --dodo-color-orange: #e68200;
  --dodo-color-yellow: #d1ce16;
  --dodo-color-green: #00a76f;
  --dodo-color-teal: #00b2e9;
  --dodo-color-blue: #5087ff;
  --dodo-color-purple: #985de4;
  --dodo-color-pink: #ff5bc0;

  --dodo-mix-mode: lab;
}

body {
  --dodo-color-info: var(--dodo-color-blue);
  --dodo-color-success: var(--dodo-color-green);
  --dodo-color-warning: var(--dodo-color-orange);
  --dodo-color-danger: var(--dodo-color-red);
  --dodo-color-primary: var(--dodo-color-blue);
  --dodo-color-secondary: var(--dodo-color-green);

  --dodo-color-heading: var(--dodo-color-black);
  --dodo-color-field: var(--dodo-color-white);
  --dodo-color-background: color-mix(in var(--dodo-mix-mode), var(--dodo-color-gray) 10%, var(--dodo-color-field));
  --dodo-color-text: color-mix(in var(--dodo-mix-mode), var(--dodo-color-heading) 60%, var(--dodo-color-gray));
  --dodo-color-border: color-mix(in var(--dodo-mix-mode), var(--dodo-color-gray) 40%, var(--dodo-color-background));
  --dodo-color-box: color-mix(in var(--dodo-mix-mode), var(--dodo-color-border) 30%, var(--dodo-color-background));

  --dodo-color-foreground: var(--dodo-color-text);

  background: var(--dodo-color-background);
  color: var(--dodo-color-text);
}

[data-dodotheme='dark'] {
  --dodo-color-heading: var(--dodo-color-white);
  --dodo-color-field: var(--dodo-color-black);
}

.dodo-color-white {
  color: var(--dodo-color-white);
}
.dodo-color-gray {
  color: var(--dodo-color-gray);
}
.dodo-color-black {
  color: var(--dodo-color-black);
}
.dodo-color-red {
  color: var(--dodo-color-red);
}
.dodo-color-orange {
  color: var(--dodo-color-orange);
}
.dodo-color-yellow {
  color: var(--dodo-color-yellow);
}
.dodo-color-green {
  color: var(--dodo-color-green);
}
.dodo-color-teal {
  color: var(--dodo-color-teal);
}
.dodo-color-blue {
  color: var(--dodo-color-blue);
}
.dodo-color-purple {
  color: var(--dodo-color-purple);
}
.dodo-color-pink {
  color: var(--dodo-color-pink);
}
.dodo-color-info {
  color: var(--dodo-color-info);
}
.dodo-color-success {
  color: var(--dodo-color-success);
}
.dodo-color-warning {
  color: var(--dodo-color-warning);
}
.dodo-color-danger {
  color: var(--dodo-color-danger);
}
.dodo-color-background {
  color: var(--dodo-color-background);
}
.dodo-color-foreground {
  color: var(--dodo-color-foreground);
}
.dodo-color-primary {
  color: var(--dodo-color-primary);
}
.dodo-color-secondary {
  color: var(--dodo-color-secondary);
}
