.dodo-gap-0 {
  gap: 0 !important;
}
.dodo-gap-xxs {
  gap: var(--dodo-spacing-xxs) !important;
}
.dodo-gap-xs {
  gap: var(--dodo-spacing-xs) !important;
}
.dodo-gap-s {
  gap: var(--dodo-spacing-s) !important;
}
.dodo-gap-m {
  gap: var(--dodo-spacing-m) !important;
}
.dodo-gap-l {
  gap: var(--dodo-spacing-l) !important;
}
.dodo-gap-xl {
  gap: var(--dodo-spacing-xl) !important;
}
.dodo-gap-xxl {
  gap: var(--dodo-spacing-xxl) !important;
}

.dodo-padding-0 {
  padding: 0 !important;
}
.dodo-padding-xxs {
  padding: var(--dodo-spacing-xxs) !important;
}
.dodo-padding-xs {
  padding: var(--dodo-spacing-xs) !important;
}
.dodo-padding-s {
  padding: var(--dodo-spacing-s) !important;
}
.dodo-padding-m {
  padding: var(--dodo-spacing-m) !important;
}
.dodo-padding-l {
  padding: var(--dodo-spacing-l) !important;
}
.dodo-padding-xl {
  padding: var(--dodo-spacing-xl) !important;
}
.dodo-padding-xxl {
  padding: var(--dodo-spacing-xxl) !important;
}

.dodo-justify-start {
  justify-content: start !important;
}
.dodo-justify-end {
  justify-content: end !important;
}
.dodo-justify-center {
  justify-content: safe center !important;
}
.dodo-justify-between {
  justify-content: space-between !important;
}
.dodo-justify-around {
  justify-content: space-around !important;
}
.dodo-justify-evenly {
  justify-content: space-evenly !important;
}

.dodo-align-start {
  align-items: start !important;
}
.dodo-align-end {
  align-items: end !important;
}
.dodo-align-center {
  align-items: safe center !important;
}
.dodo-align-baseline {
  align-items: baseline !important;
}
.dodo-align-stretch {
  align-items: stretch !important;
}

.dodo-grow {
  flex-grow: 1 !important;
}

.dodo-wrap {
  flex-wrap: wrap !important;
}
