:root {
  --dodo-spacing-0: 0px;
  --dodo-spacing-xxs: 2px;
  --dodo-spacing-xs: 4px;
  --dodo-spacing-s: 8px;
  --dodo-spacing-m: 16px;
  --dodo-spacing-l: 32px;
  --dodo-spacing-xl: 64px;
  --dodo-spacing-xxl: 128px;
}

.dodo-gap-0 {
  gap: 0;
}
.dodo-gap-xxs {
  gap: var(--dodo-spacing-xxs) !important;
}
.dodo-gap-xs {
  gap: var(--dodo-spacing-xs) !important;
}
.dodo-gap-s {
  gap: var(--dodo-spacing-s) !important;
}
.dodo-gap-m {
  gap: var(--dodo-spacing-m) !important;
}
.dodo-gap-l {
  gap: var(--dodo-spacing-l) !important;
}
.dodo-gap-xl {
  gap: var(--dodo-spacing-xl) !important;
}
.dodo-gap-xxl {
  gap: var(--dodo-spacing-xxl) !important;
}

.dodo-padding-0 {
  padding: 0 !important;
}
.dodo-padding-xxs {
  padding: var(--dodo-spacing-xxs) !important;
}
.dodo-padding-xs {
  padding: var(--dodo-spacing-xs) !important;
}
.dodo-padding-s {
  padding: var(--dodo-spacing-s) !important;
}
.dodo-padding-m {
  padding: var(--dodo-spacing-m) !important;
}
.dodo-padding-l {
  padding: var(--dodo-spacing-l) !important;
}
.dodo-padding-xl {
  padding: var(--dodo-spacing-xl) !important;
}
.dodo-padding-xxl {
  padding: var(--dodo-spacing-xxl) !important;
}

/* Layout */
.dodo-gap-0 {
  gap: 0 !important;
}
.dodo-gap-1 {
  gap: var(--dodo-spacing) !important;
}
.dodo-gap-2 {
  gap: var(--dodo-gap-2) !important;
}
.dodo-gap-4 {
  gap: var(--dodo-gap-4) !important;
}
.dodo-gap-5 {
  gap: var(--dodo-gap-5) !important;
}
.dodo-gap-6 {
  gap: var(--dodo-gap-6) !important;
}
.dodo-gap-8 {
  gap: var(--dodo-gap-8) !important;
}
.dodo-gap-12 {
  gap: var(--dodo-gap-12) !important;
}
.dodo-gap-16 {
  gap: var(--dodo-gap-16) !important;
}
.dodo-gap-24 {
  gap: var(--dodo-gap-24) !important;
}
.dodo-gap-32 {
  gap: var(--dodo-gap-32) !important;
}

.dodo-pad-0 {
  padding: 0 !important;
}
.dodo-pad-1 {
  padding: var(--dodo-spacing) !important;
}
.dodo-pad-2 {
  padding: var(--dodo-gap-2) !important;
}
.dodo-pad-4 {
  padding: var(--dodo-gap-4) !important;
}
.dodo-pad-5 {
  padding: var(--dodo-gap-5) !important;
}
.dodo-pad-6 {
  padding: var(--dodo-gap-6) !important;
}
.dodo-pad-8 {
  padding: var(--dodo-gap-8) !important;
}
.dodo-pad-12 {
  padding: var(--dodo-gap-12) !important;
}
.dodo-pad-16 {
  padding: var(--dodo-gap-16) !important;
}
.dodo-pad-24 {
  padding: var(--dodo-gap-24) !important;
}
.dodo-pad-32 {
  padding: var(--dodo-gap-32) !important;
}

.dodo-justify-start {
  justify-content: start !important;
}
.dodo-justify-end {
  justify-content: end !important;
}
.dodo-justify-center {
  justify-content: safe center !important;
}
.dodo-justify-between {
  justify-content: space-between !important;
}
.dodo-justify-around {
  justify-content: space-around !important;
}
.dodo-justify-evenly {
  justify-content: space-evenly !important;
}

.dodo-align-start {
  align-items: start !important;
}
.dodo-align-end {
  align-items: end !important;
}
.dodo-align-center {
  align-items: safe center !important;
}
.dodo-align-baseline {
  align-items: baseline !important;
}
.dodo-align-stretch {
  align-items: stretch !important;
}

.dodo-grow {
  flex-grow: 1 !important;
}

.dodo-wrap {
  flex-wrap: wrap !important;
}
