@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import './vars.css';
@import './colors.css';
@import './layout.css';

:root {
  --dodo-font-size: 14px;
  --dodo-font-small: 13px;
  --dodo-font-large: 16px;
  --dodo-bold: 500;
  --dodo-font-base: var(--dodo-font-size) Inter, sans-serif;

  --dodo-button-height: 40px;
  --dodo-transition-duration: 0.1s;

  --dodo-breakpoint-small: 600;
  --dodo-breakpoint-large: 1200;

  /* Deprecated */
  --dodo-weight-bold: var(--dodo-bold);
}
body {
  background: var(--dodo-color-background);
  color: var(--dodo-color-text);
}

/* Text */

.dodo-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dodo-fade-secondary,
.dodo-opacity-secondary {
  opacity: 0.6;
}
.dodo-fade-disabled,
.dodo-opacity-disabled {
  opacity: 0.38;
}
.dodo-text-center,
.dodo-textalign-center {
  text-align: center;
}
.dodo-text-end,
.dodo-textalign-end {
  text-align: end;
}

/* Font */

body {
  font: var(--dodo-font-base);
  color: var(--dodo-color-text);
  overflow-wrap: break-word;
  hyphens: auto;
}
p {
  margin: 0;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--dodo-weight-bold);
  color: var(--dodo-color-heading);
  font-size: var(--dodo-font-size);
  margin: 0;
}
h1 {
  font-size: calc(var(--dodo-font-size) * 2.5);
}
h2 {
  font-size: calc(var(--dodo-font-size) * 2);
}
h3 {
  font-size: calc(var(--dodo-font-size) * 1.5);
}
h4 {
  font-size: calc(var(--dodo-font-size) * 1.25);
}
h5 {
  font-size: calc(var(--dodo-font-size) * 1.15);
}
code {
  font-family: monospace;
  font-size: calc(var(--dodo-font-size) * 1.05);
}
a {
  color: var(--dodo-color-info);
  cursor: pointer;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 2px solid var(--dodo-color-border);
}
small {
  font-size: var(--dodo-font-small) !important;
}
strong {
  font-weight: var(--dodo-weight-bold) !important;
}
label {
  margin: 0;
}
::selection {
  color: white;
  background: var(--dodo-color-info);
}
th {
  font-weight: var(--dodo-weight-bold);
  font-size: var(--dodo-font-small);
  text-align: start;
}
table {
  border-collapse: collapse;
}
hr {
  margin: 0;
  border: 0;
  min-width: 1px;
  min-height: 1px;
  background: currentColor;
  opacity: 0.1;
}
mark {
  background: var(--dodo-color-card);
  padding: 0 2px;
  border-radius: var(--dodo-radius-s);
}

/* Fields */

.dodo-formfield {
  min-width: 0;
  padding: 2px 8px;
  background: var(--dodo-color-field, white);
  border: 1px solid var(--dodo-color-border);
  border-radius: var(--dodo-radius-s);
  --height: var(--dodo-button-height);
  min-height: var(--height);
  font: var(--dodo-font-base);
  color: var(--dodo-color-text);
  box-sizing: border-box;
}
.dodo-formfield:focus {
  border-color: var(--dodo-color-info);
  outline: 1px solid var(--dodo-color-info);
}
.dodo-formfield:disabled {
  opacity: 0.38;
  cursor: not-allowed;
}
