@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --dodo-spacing: 4px;

  --dodo-color-info: rgb(var(--dodo-rgb-info));
  --dodo-color-success: rgb(var(--dodo-rgb-success));
  --dodo-color-warn: rgb(var(--dodo-rgb-warn));
  --dodo-color-danger: rgb(var(--dodo-rgb-danger));
  --dodo-color-background: rgb(var(--dodo-rgb-background));
  --dodo-color-foreground: rgb(var(--dodo-rgb-foreground));
  --dodo-color-primary: rgb(var(--dodo-rgb-primary));
  --dodo-color-secondary: rgb(var(--dodo-rgb-secondary));

  --dodo-color-muted: color-mix(in hsl, var(--dodo-color-foreground) 30%, transparent);

  --dodo-font-size: 14px;
  --dodo-font-small: 13px;
  --dodo-bold: 500;
  --dodo-font-base: var(--dodo-font-size) Inter, sans-serif;

  --dodo-button-height: 36px;
  --dodo-transition-duration: 0.15s;

  --dodo-breakpoint-small: 600;
  --dodo-breakpoint-large: 1200;
  --dodo-gap-0: 0px;
  --dodo-gap-1: calc(var(--dodo-spacing) * 1);
  --dodo-gap-2: calc(var(--dodo-spacing) * 2);
  --dodo-gap-3: calc(var(--dodo-spacing) * 3);
  --dodo-gap-4: calc(var(--dodo-spacing) * 4);
  --dodo-gap-5: calc(var(--dodo-spacing) * 5);
  --dodo-gap-6: calc(var(--dodo-spacing) * 6);
  --dodo-gap-8: calc(var(--dodo-spacing) * 8);
  --dodo-gap-10: calc(var(--dodo-spacing) * 10);
  --dodo-gap-12: calc(var(--dodo-spacing) * 12);
  --dodo-gap-16: calc(var(--dodo-spacing) * 16);
  --dodo-gap-24: calc(var(--dodo-spacing) * 24);
  --dodo-gap-32: calc(var(--dodo-spacing) * 32);

  --dodo-shadow-1: 0px 1px 1px rgba(0, 0, 0, 0.1);
  --dodo-shadow-2: 0px 3px 3px rgba(0, 0, 0, 0.1);
  --dodo-shadow-3: 0px 6px 6px rgba(0, 0, 0, 0.1);
  --dodo-shadow-4: 0px 16px 16px rgba(0, 0, 0, 0.1);
  --dodo-shadow-5: 0px 32px 40px rgba(0, 0, 0, 0.1);

  // Deprecated
  --dodo-weight-bold: var(--dodo-bold);
  --dodo-rgb-info: 58, 134, 255;
  --dodo-rgb-success: 0, 177, 136;
  --dodo-rgb-warn: 223, 178, 53;
  --dodo-rgb-warning: var(--dodo-rgb-warn);
  --dodo-rgb-danger: 255, 0, 83;
  --dodo-rgb-background: 255, 255, 255;
  --dodo-rgb-foreground: 9, 30, 40;
  --dodo-rgb-primary: var(--dodo-rgb-info);
  --dodo-rgb-secondary: var(--dodo-rgb-success);
}

/* Layout */
.dodo-gap-0 {
  gap: 0 !important;
}
.dodo-gap-1 {
  gap: var(--dodo-spacing) !important;
}
.dodo-gap-2 {
  gap: var(--dodo-gap-2) !important;
}
.dodo-gap-4 {
  gap: var(--dodo-gap-4) !important;
}
.dodo-gap-5 {
  gap: var(--dodo-gap-5) !important;
}
.dodo-gap-6 {
  gap: var(--dodo-gap-6) !important;
}
.dodo-gap-8 {
  gap: var(--dodo-gap-8) !important;
}
.dodo-gap-12 {
  gap: var(--dodo-gap-12) !important;
}
.dodo-gap-16 {
  gap: var(--dodo-gap-16) !important;
}
.dodo-gap-24 {
  gap: var(--dodo-gap-24) !important;
}
.dodo-gap-32 {
  gap: var(--dodo-gap-32) !important;
}

.dodo-pad-0 {
  padding: 0 !important;
}
.dodo-pad-1 {
  padding: var(--dodo-spacing) !important;
}
.dodo-pad-2 {
  padding: var(--dodo-gap-2) !important;
}
.dodo-pad-4 {
  padding: var(--dodo-gap-4) !important;
}
.dodo-pad-5 {
  padding: var(--dodo-gap-5) !important;
}
.dodo-pad-6 {
  padding: var(--dodo-gap-6) !important;
}
.dodo-pad-8 {
  padding: var(--dodo-gap-8) !important;
}
.dodo-pad-12 {
  padding: var(--dodo-gap-12) !important;
}
.dodo-pad-16 {
  padding: var(--dodo-gap-16) !important;
}
.dodo-pad-24 {
  padding: var(--dodo-gap-24) !important;
}
.dodo-pad-32 {
  padding: var(--dodo-gap-32) !important;
}

.dodo-justify-start {
  justify-content: start !important;
}
.dodo-justify-end {
  justify-content: end !important;
}
.dodo-justify-center {
  justify-content: safe center !important;
}
.dodo-justify-between {
  justify-content: space-between !important;
}
.dodo-justify-around {
  justify-content: space-around !important;
}
.dodo-justify-evenly {
  justify-content: space-evenly !important;
}

.dodo-align-start {
  align-items: start !important;
}
.dodo-align-end {
  align-items: end !important;
}
.dodo-align-center {
  align-items: safe center !important;
}
.dodo-align-baseline {
  align-items: baseline !important;
}
.dodo-align-stretch {
  align-items: stretch !important;
}

.dodo-grow {
  flex-grow: 1 !important;
}

.dodo-wrap {
  flex-wrap: wrap !important;
}

/* Text */

.dodo-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dodo-fade-secondary,
.dodo-opacity-secondary {
  opacity: 0.6;
}
.dodo-fade-disabled,
.dodo-opacity-disabled {
  opacity: 0.38;
}
.dodo-text-center,
.dodo-textalign-center {
  text-align: center;
}
.dodo-text-end,
.dodo-textalign-end {
  text-align: end;
}
.dodo-color-info {
  color: var(--dodo-color-info);
}
.dodo-color-success {
  color: var(--dodo-color-success);
}
.dodo-color-warn {
  color: var(--dodo-color-warn);
}
.dodo-color-danger {
  color: var(--dodo-color-danger);
}
.dodo-color-background {
  color: var(--dodo-color-background);
}
.dodo-color-foreground {
  color: var(--dodo-color-foreground);
}
.dodo-color-primary {
  color: var(--dodo-color-primary);
}
.dodo-color-secondary {
  color: var(--dodo-color-secondary);
}

/* Font */

body {
  font: var(--dodo-font-base);
  color: var(--dodo-color-foreground);
  overflow-wrap: break-word;
  hyphens: auto;
}
p {
  margin: 0;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--dodo-weight-bold);
  color: var(--dodo-color-foreground);
  font-size: var(--dodo-font-size);
  margin: 0;
}
h1 {
  font-size: calc(var(--dodo-font-size) * 2.5);
}
h2 {
  font-size: calc(var(--dodo-font-size) * 2);
}
h3 {
  font-size: calc(var(--dodo-font-size) * 1.5);
}
h4 {
  font-size: calc(var(--dodo-font-size) * 1.25);
}
h5 {
  font-size: calc(var(--dodo-font-size) * 1.15);
}
code {
  font-family: monospace;
  font-size: calc(var(--dodo-font-size) * 1.05);
}
a {
  color: var(--dodo-color-info);
  cursor: pointer;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 2px solid rgba(var(--dodo-rgb-foreground), 0.25);
}
small {
  font-size: var(--dodo-font-small) !important;
}
strong {
  font-weight: var(--dodo-weight-bold) !important;
}
label {
  margin: 0;
}
::selection {
  color: white;
  background: var(--dodo-color-info);
}
th {
  font-weight: var(--dodo-weight-bold);
  font-size: var(--dodo-font-small);
  text-align: start;
}
table {
  border-collapse: collapse;
}
hr {
  margin: 0;
  border: 0;
  min-width: 1px;
  min-height: 1px;
  background: currentColor;
  opacity: 0.1;
}
mark {
  background: color-mix(in hsl, var(--dodo-color-info) 20%, transparent);
  padding: 0 2px;
  border-radius: 4px;
}

/* Fields */

.dodo-formfield {
  min-width: 0;
  padding: 2px 8px;
  box-shadow: 0 1px 2px inset rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid color-mix(in hsl, var(--dodo-color-foreground) 30%, transparent);
  border-radius: 4px;
  --height: var(--dodo-button-height);
  min-height: var(--height);
  font: var(--dodo-font-base);
  color: var(--dodo-color-foreground);
  box-sizing: border-box;
}
.dodo-formfield:focus {
  border-color: var(--dodo-color-info);
  outline: 1px solid var(--dodo-color-info);
}
.dodo-formfield:disabled {
  opacity: 0.38;
  cursor: not-allowed;
}
